# Default owner for everything in this repository.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-customization/customizing-your-repository/about-code-owners
*       @the-simian
